.quick-info-bar {
    position: relative;
    height: auto;
    background-color: #cc0033;
    text-transform: capitalize;
    text-align: center;
    padding: .7rem 10% .7rem 10%;
}

.quick-info-bar ul {
    list-style: none;
    margin: 2px auto;
}

.quick-info-bar li {
    display: inline;
    text-align: center;
}

.quick-info-bar a {
    text-decoration: none;
}

.quick-info-bar li:hover * {
    color: #ffcc33;
}

.quick-info-bar * {
    color: #ffffff;
    font-size: 1.1rem;
    vertical-align: middle;
}

.left-info {
    float: left;
}

.right-info {
    float: right;
}

.center-info {
    position: relative;
    display: inline;
    margin: 0px auto auto 0px;
    display: inline;
    zoom: 1;
}

body {
    margin: 0px auto auto 0px;
    width: 100%;
}
/*
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}*/
