.quick-info-bar {
    position: relative;
    height: auto;
    background-color: #cc0033;
    text-transform: capitalize;
    text-align: center;
    padding: .7rem 8% .7rem 8%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.quick-info-bar ul {
    list-style: none;
    margin: 2px auto;
}

.quick-info-bar li {
    display: inline;
    text-align: center;
}

.quick-info-bar a {
    text-decoration: none;
}

.quick-info-bar li:not(.social-buttons):hover * {
    color: #ffff66;
}

.quick-info-bar * {
    color: #ffffff;
    vertical-align: middle;
}

.left-info {
    float: left;
}

.social-buttons {
    float: right;
}

.social-buttons *::after {
    content: "";
    display: inline;
    clear: both;
    margin: 0 1rem 1rem 0;
}

.social-buttons *:hover {
    color: #ffff66;
}

.center-info {
    margin: 0 auto;
    zoom: 1;
}