.quick-info-bar {
    position: relative;
    height: auto;
    background-color: #e51c23;
    text-transform: capitalize;
    text-align: center;
    padding: .7rem 8% .7rem 8%;
}

.quick-info-bar ul {
    list-style: none;
    margin: 2px auto;
}

.quick-info-bar > ul > li {
    display: inline;
    text-align: center;
}

.quick-info-bar li:not(.social-buttons) {
    font-weight: bold;
}
.quick-info-bar li:not(.social-buttons):hover * {
    color: #1b3911;
}

.quick-info-item .fa + span:before {
    content: "";
    display: inline;
    clear: both;
    margin: 0 5px
}

.quick-info-item {
    margin: 0 auto;
    padding: 5px;
    vertical-align: middle;
}

.quick-info-item * {
    color: #ffffff;
}

.quick-info-item > a {
    text-decoration: none;
}

.quick-info-item a > :not(.fa) {
    font-size: 12px;
}

.quick-info-item * {
    transition: color 200ms linear 0s;
}

.left-info {
    float: left;
    text-align: left;
}

.center-info {
    text-align: left;
    margin: 0 auto;
    *zoom: 1;
}

.social-buttons {
    float: right;
}

.social-buttons a:not(:last-child):after {
    content: "";
    display: inline;
    clear: both;
    margin: 0 1.1rem
}

.social-buttons *:hover {
    color: #5f4f00;
}
