<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->        
        
        <title>{{ page.title }}</title>
        
        <!-- stylesheets -->
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/quick-info-bar.css" rel="stylesheet">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
              rel="stylesheet">
        
        <!--fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Jaldi' 
              rel='stylesheet' type='text/css'>
        
        <!-- javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <!-- http://www.templatemonster.com/demo/58888.html -->
    </head>
    <body>
        <div class="quick-info-bar">
            <ul>
                <li class="left-info">
                    <a href="callto:+13062222222">
                        <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
                        +1-306-222-2222
                    </a>
                </li>
                <li class="center-info">
                    <a href="#">
                        <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                        1121 College Dr, Saskatoon, SK S7N 0W3
                    </a>
                </li>
                <li class="social-buttons">
                    <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">

            {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
                <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
            </ul>
        </footer>
    </body>
</html>
